@charset "utf-8";
/*--------------media query css------------------*/
/*------------tablet landscape view------*/
@media (max-width:1500px) {
	.banner-img {
	    margin: 0 0 0 0px;
	    width: calc(50% - 2px);
	}
}
@media (max-width:1200px) {
	h1 {
	    font-size: 50px;
	    line-height: 1.1;
	}
	#header .main{
		max-width: 1000px;
	}
	.meet-the-fam-sec .main {
	    max-width: 1000px;
	}
	.banner-content {
	    padding-top: 0px;
	    padding-left: 30px;
	}
	.slick-prev {
	    left: -22px;
	}
	.slick-next {
	    right: -22px;
	}
	.section-gap {
	    margin: 25px 25px 0;
	}
}

/*------------tablet portrait  view------*/
@media (max-width:970px) {
	.banner-sec {
    	padding: 100px 0 0;
	}
	h1 {
	    font-size: 45px;
	}
	h2 {
	    font-size: 50px;
	    margin-bottom: 15px;
	}
	h4{
		font-size: 25px;
	}
	.banner-content h1 {
    	max-width: 100%;
	}
	.banner-content p {
	    font-size: 20px;
	    max-width: 100%;
	}
	.mid-content-sec{
		padding: 70px 0 15px;
	}
	.section-gap {
	    margin: 15px 15px 0;
	}
	.testimonial-sec{
		padding: 50px 0 100px;
	}
	.testimonial-slider h3{
		font-size: 30px;
	}
	.quote-icon{
		margin-bottom: 15px;
	}
	.after-party-sec {
	    padding: 75px 0 50px;
	}
	.after-party-school h2 {
	    line-height: 1;
	    margin-bottom: 15px;
	}
	.after-party-school h4 {
	    line-height: 1.2;
	}
	.sub-header-slider{
		max-width: 85%;
	}
	.after-party-school h3 {
	    font-size: 33px;
	    line-height: 1.2;
	    margin-bottom: 10px;
	    margin-top: 15px;
	}
	.after-party-school p{
		max-width: 85%;
		font-size: 21px;
	}
	.join-us-box{
		padding: 25px;
	}
	.slider-center-icon{
		height: 85px;
	    width: 85px;
	}
	.join-us-box h4 {
	    font-size: 17px;
	}
	.join-us-box p{
		font-size: 12px;
		width: 100%;
	}
	.join-us-box .pink-btn{
		width: 155px;
	}
	.after-party-school-form, .subscribe-form{
		padding-top: 70px;
	}
	.after-party-school-form h5{
		margin: 0 auto 30px;
	    max-width: 85%;
	}
	.form-outer{
		max-width: 700px;
	}
	.after-school-sec{
		padding: 75px 0 50px;
	}
	.agenda-sec {
	    padding: 5px 0 15px;
	}
	.agenda-sec h3 {
	    font-size: 24px;
	}
	.agenda-outer-sec{
		padding: 30px 45px;
	}
	.agenda-part p{
		max-width: 100%;
		font-size: 17px;
	}
	.after-platform-sec{
		padding: 75px 0 50px;
	}
	.after-platform-sec .subscribe-form {
	    padding-top: 70px;
	}
	.meet-the-fam-sec h2 {
	    line-height: 1;
	    margin-bottom: 50px;
	}
	.meet-the-fam-sec {
	    padding: 70px 0 45px;
	}
	.meet-the-fam-sec .three-column-wrapper .flex-item {
	    padding: 0 25px;
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	}
	.meet-fam-form-sec {
	    padding-top: 20px;
	}
	.footer-logo{
		width: 75px;
	    height: 100px;
	}
	.footer-sec h3 {
	    font-size: 35px;
	    margin-top: 5px;
	}
	.after-party-group,
	.after-school-group{
		padding-bottom: 25px;
	}
	.footer-sec{
		padding: 150px 0;
	}
}
/*------------mobile landscape  view------*/
@media (max-width:767px) {
	.main{
	    padding: 0 15px;
	}
	.menu-icon {
    	display: block;
	}
	nav ul {
    	width: 100%;
	    background-color: #2c214c;
	    top: 0;
	    color: #fff;
	    right: 0;
	    padding: 120px 30px 0;
	    position: fixed;
	    bottom: 0;
	    z-index: 9;
	    display: none;
	}
	.menu-icon.active .menu-box {
	    position: fixed;
	    z-index: 99;
	    left: auto;
	    right: 30px;
	}
	#header{
		position: static;
    	top: 0px;
	}
	nav ul li {
	    width: 100%;
	    margin: 0px;
	    padding: 0px;
	}
	nav ul li a{
		color: #f18376;
	    padding: 0;
	    font-size: 40px;
	    line-height: 1.2;
	    padding-bottom: 20px;
	    display: inline-block;
	}
	.mail-btn{
		display: none;
	}
	.logo img{
		margin-top: 15px;
	}
	#header.headerbg {
    	top: 0;
    	box-shadow: none;
	}
	.banner-sec {
    	padding: 20px 0 0;
	}
	.get-in-touch{
    	display: block;
    	padding-top: 60px;
	}
	.get-in-touch a{
		color: #fff;
    	text-transform: none;
	}
	h1{
		font-size: 40px;
		text-align: center;
	}
	.banner-content p{
		text-align: center;
	}
	.banner-img{
		text-align: center;
	}
	.banner-content {
    	padding: 0 15px;
	}	
	.banner-sec .main {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
	.banner-img, .banner-content {
	    width: 100%;
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    order: 2;
	}
	.banner-content {
    	order: 1;
	}
	.mid-content-sec {
	    padding: 45px 0 15px;
	}
	.mid-content-sec .three-column-wrapper .flex-item{
		-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    padding-bottom: 5px;
	}
	.testimonial-slider h3 {
	    font-size: 25px;
	}
	.testimonial-slider .slick-dots{
		bottom: -40px;
	}
	.testimonial-sec {
	    padding: 55px 0 95px;
	}
	.after-party-sec {
	    padding: 55px 0 30px;
	}
	h2 {
	    font-size: 40px;
	    margin-bottom: 15px;
	}
	.center-icon{
		margin-bottom: 30px;
	}
	h4 {
	    font-size: 24px;
	}
	.after-party-school h4 {
	    line-height: 1.2;
	}
	.sub-header-slider{
		max-width: 90%;
	}
	.after-party-school h3{
		font-size: 30px;
	    line-height: 1.1;
	}
	.after-party-school p {
	    max-width: 90%;
	    font-size: 20px;
	}
	.join-us-box h4 {
	    font-size: 17px;
	    width: 100%;
	}
	.join-us-box p {
	    font-size: 12px;
	    width: 100%;
	}
	.after-party-school-form h5{
		max-width: 90%;
	}
	.join-us-slider .slick-dots,
	#meet-the-fam .slick-dots{
	    bottom: -50px;
	    position: absolute;
	    display: block;
	    width: 100%;
	    padding: 0;
	    margin: 0;
	    list-style: none;
	    text-align: center;
	}
	.join-us-slider .slick-dots li,
	#meet-the-fam .slick-dots li{
	    margin: 0 6px;
	    position: relative;
	    display: inline-block;
	    width: 8px;
	    height: 8px;
	    padding: 0;
	    cursor: pointer;
	}
	.join-us-slider .slick-dots li button,
	#meet-the-fam .slick-dots li button{
	    font-size: 0;
	    line-height: 0;
	    display: block;
	    width: 8px;
	    height: 8px;
	    padding: 4px;
	    cursor: pointer;
	    color: #2c204d;
	    border: 0;
	    outline: none;
	    background: #2c204d;
	    border-radius: 60px;
	}
	.join-us-slider .slick-dots li button:hover, 
	.join-us-slider .slick-dots li button:focus,
	#meet-the-fam .slick-dots li button:hover, 
	#meet-the-fam .slick-dots li button:focus {
	    outline: none;
	}
	.join-us-slider .slick-dots li.slick-active button,
	#meet-the-fam .slick-dots li.slick-active button{
	    background: #f08276;
	}
	.after-school-sec .join-us-slider .slick-dots li.slick-active button{
	    background: #fccc82;
	}
	.join-us-slider.slick-dotted.slick-slider,
	#meet-the-fam.slick-dotted.slick-slider {
	    margin-bottom: 45px;
	}
	.after-party-school-form, .subscribe-form {
	    padding-top: 60px;
	}
	.agenda-sec h3{
		font-size: 22px;
	}
	.agenda-outer-sec {
	    padding: 25px;
	}
	.agenda-part p {
	    max-width: 100%;
	    font-size: 16px;
	}
	.after-platform-sec {
	    padding: 55px 0 30px;
	}
	.meet-the-fam-sec {
	    padding: 55px 0 30px;
	}
	.meet-the-fam-sec .three-column-wrapper .flex-item{
		padding: 0 15px;
	}
	.meet-the-fam-sec .flex-item {
	    margin-bottom: 15px;
	}
	#meet-the-fam .slick-dots{
		bottom: -15px;
	}
	.meet-fam-form-sec {
	    padding-top: 30px;
	}
	.footer-sec {
	    padding: 100px 0;
	}
	.footer-sec h3{
		    font-size: 30px;
	}
	.after-school-sec{
		padding: 55px 0;
	}
	.footer-logo {
    	width: 60px;
    	height: 85px;
	}
	.after-party-school .join-us-box p{
    	max-width: 100%;
    }
    .join-us-box p{
    	font-size: 12px;
    }
    .after-party-group,
	.after-school-group{
		padding-bottom: 15px;
	}
}
/*------------mobile portrait view------*/
@media (max-width:640px) {
	.testimonial-slider h3 {
	    font-size: 24px;
	}
	.after-party-school h3 {
	    font-size: 26px;
	    line-height: 1;
	}
	.after-party-school p{
		font-size: 18px;
	}
	.join-us-box{
		margin: 0 25px;
	}
	.col-3, .col-6, .col-9 {
	    width: 100%;
	}
	button, .form-btn{
		width: 100%;
	}
	.after-party-sec {
	    padding: 55px 0;
	}
	.agenda-sec h3 {
	    font-size: 20px;
	}
	.agenda-part {
	    width: 100%;
	}
	.agenda-outer-sec {
	    padding: 25px 0;
	}
	.agenda-part p {
	    max-width: 100%;
	    font-size: 15px;
	    margin-bottom: 15px;
	    padding-bottom: 15px;
	}
	.after-platform-sec {
	    padding: 55px 0;
	}
	.meet-the-fam-sec {
	    padding: 55px 0;
	}
	.meet-the-fam-sec .three-column-wrapper .flex-item {
    	padding: 0 30px;
	}
	.meet-the-fam-sec .meet-fam-form-sec h5{
		font-size: 20px;
    	margin-bottom: 28px;
    	line-height: 1.2;
	}
	.footer-sec h3 {
    	font-size: 25px;
	}
	.footer-logo {
    	width: 55px;
   	 	height: 80px;
	}
	.meet-the-fam-sec .flex-item p{
		text-align: center;
	}
	.sub-header-slider h4{
		max-width: 95%;
	}
	.after-party-school p {
    	max-width: 95%;
    }
    .after-party-school-form h5{
    	max-width: 90%;
    }
    .after-party-school .join-us-box p{
    	max-width: 100%;
    }
    .join-us-box p{
    	font-size: 12px;
    }
    .join-us-box h4 {
    	font-size: 18px;
    	width: 100%;
	}
	h5{
		font-size: 22px;
	}
	.join-us-slider .slick-dots{
		bottom: -40px;
	}
	.after-party-school-form, 
	.subscribe-form {
    	padding-top: 50px;
	}
	.form-fields{
		margin-bottom: 15px;
	}
	.after-platform-sec .subscribe-form {
    	padding-top: 60px;
	}
	.subscribe-form h5 {
    	max-width: 375px;
    	margin: 0 auto 35px;
	}

}
/*----------optional css------*/
@media (max-width:480px) {
	.sub-header-slider h4{
		max-width: 100%;
	}
	.after-party-school p {
    	max-width: 100%;
    }
    .after-party-school-form h5{
    	max-width: 100%;
    }
    h5{
		font-size: 20px;
	}
	.footer-sec h3{
		font-size: 22px;
	}
	.section-gap {
    	margin: 10px 10px 0;
	}
	.testimonial-slider {
    	max-width: 100%;
	}
	.subscribe-form h5 {
    	max-width: 340px;
    	margin: 0 auto 35px;
	}
	.after-party-group, .after-school-group{
		margin-top: -30px;
	}
}
/*---------use only when design is customise-----------*/

